<div class="jumbotron text-center bg-danger">
    <h1 class="display-3">{{title}}</h1>
    <h3 class="lead"><b>PrimeHostel For New Students.</b></h3>
    <a href="/students/add" class="btn btn-success btn-lg">Add Students</a>
</div>